<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='index'> Accueil </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='stagiaire/nom/prenom'> Stagiaire </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" [routerLink]="['adresse']" [queryParams]="{ cp: '75000', ville: 'Paris'}"> Adresse </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='formulaire'> Formulaire </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='calculette'> Calculette </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='reactiveform'> Reactive Formulaire </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='personne'> Personne </a>
    </li>

    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='personneEdition'> Edit Personne</a>
    </li>

    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='personneDetails'> Personne Details</a>
    </li>

    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='vehicule/voiture'> Voiture </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='vehicule/camion'> Camion </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='pereEtFils'> Pere-fils </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='parentEtChild'> Parent-child </a>
    </li>
    <li class="nav-item" routerLinkActive=active>
      <a class="nav-link" routerLink='observable'> Observable </a>
    </li>
    <div *ngIf=isConnected()>
      <li ><a class="nav-link" (click)='logout()'> Logout</a></li>
    </div>
  </ul>

</nav>

<app-pere>
  <app-titre [couleur]="'red'" [valeur]="'Mes contacts'"></app-titre>
</app-pere>

<router-outlet></router-outlet>

<!--<nav class="navbar navbar-expand-sm bg-light">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>

</nav>-->

<!--<ul>
  <li><a href='index'> Accueil </a></li>
  <li><a href='stagiaire'> Stagiaire </a></li>
  <li><a href='adresse'> Adresse </a></li>
  </ul>-->
